In [1]:
import pandas as pd
import os
from datetime import datetime, date, time

In [2]:
path = r'C:\Users\LGN\Desktop\РАСЧЕТЫ\ДЗЕН\zen_2020-10-31_dumpof_transactions_1604156325.csv'

In [3]:
df = pd.read_csv(path, sep=';', usecols=['date', 'categoryName', 'outcome'])
df

           date            categoryName  outcome
0    2020-10-31         МАШИНА / БЕНЗИН    664.2
1    2020-10-31       НИКИТА / СИГАРЕТЫ    143.0
2    2020-10-31            ОТДЫХ / ВИНО    657.0
3    2020-10-31  ПРОДУКТЫ / Готовая еда   1030.0
4    2020-10-31        НИКИТА / НАПИТКИ     70.0
..          ...                     ...      ...
362  2020-10-01     ПРОДУКТЫ / Сладости    227.0
363  2020-10-01       ПРОДУКТЫ / Пакеты      5.9
364  2020-10-01          ОТДЫХ / К ВИНУ    413.9
365  2020-10-01        НИКИТА / НАПИТКИ     99.9
366  2020-10-01                ЗАРПЛАТА      0.0

[367 rows x 3 columns]

In [4]:
s = df['categoryName'].str.split(' / ', expand=True)
df['КАТЕГОРИЯ'] = s[0]
df['ПОДКАТЕГОРИЯ'] = s[1]
df

           date            categoryName  outcome КАТЕГОРИЯ ПОДКАТЕГОРИЯ
0    2020-10-31         МАШИНА / БЕНЗИН    664.2    МАШИНА       БЕНЗИН
1    2020-10-31       НИКИТА / СИГАРЕТЫ    143.0    НИКИТА     СИГАРЕТЫ
2    2020-10-31            ОТДЫХ / ВИНО    657.0     ОТДЫХ         ВИНО
3    2020-10-31  ПРОДУКТЫ / Готовая еда   1030.0  ПРОДУКТЫ  Готовая еда
4    2020-10-31        НИКИТА / НАПИТКИ     70.0    НИКИТА      НАПИТКИ
..          ...                     ...      ...       ...          ...
362  2020-10-01     ПРОДУКТЫ / Сладости    227.0  ПРОДУКТЫ     Сладости
363  2020-10-01       ПРОДУКТЫ / Пакеты      5.9  ПРОДУКТЫ       Пакеты
364  2020-10-01          ОТДЫХ / К ВИНУ    413.9     ОТДЫХ       К ВИНУ
365  2020-10-01        НИКИТА / НАПИТКИ     99.9    НИКИТА      НАПИТКИ
366  2020-10-01                ЗАРПЛАТА      0.0  ЗАРПЛАТА         None

[367 rows x 5 columns]

In [5]:
df.columns = ['ДАТА', 'СПЛИТ', 'СУММА', 'КАТЕГОРИЯ', 'ПОДКАТЕГОРИЯ']
df = df.drop('СПЛИТ', axis=1)
df = df.fillna('-')
df['ПОДКАТЕГОРИЯ'] = df['ПОДКАТЕГОРИЯ'].str.upper()
df = df[df['СУММА'] != 0]
df = df.reindex(columns=['КАТЕГОРИЯ', 'ПОДКАТЕГОРИЯ', 'СУММА', 'ДАТА'])
df

    КАТЕГОРИЯ ПОДКАТЕГОРИЯ   СУММА        ДАТА
0      МАШИНА       БЕНЗИН   664.2  2020-10-31
1      НИКИТА     СИГАРЕТЫ   143.0  2020-10-31
2       ОТДЫХ         ВИНО   657.0  2020-10-31
3    ПРОДУКТЫ  ГОТОВАЯ ЕДА  1030.0  2020-10-31
4      НИКИТА      НАПИТКИ    70.0  2020-10-31
..        ...          ...     ...         ...
361  ПРОДУКТЫ     СЛАДОСТИ    27.0  2020-10-01
362  ПРОДУКТЫ     СЛАДОСТИ   227.0  2020-10-01
363  ПРОДУКТЫ       ПАКЕТЫ     5.9  2020-10-01
364     ОТДЫХ       К ВИНУ   413.9  2020-10-01
365    НИКИТА      НАПИТКИ    99.9  2020-10-01

[361 rows x 4 columns]

In [6]:
df['ДАТА'] = pd.to_datetime(df['ДАТА'])
df

    КАТЕГОРИЯ ПОДКАТЕГОРИЯ   СУММА       ДАТА
0      МАШИНА       БЕНЗИН   664.2 2020-10-31
1      НИКИТА     СИГАРЕТЫ   143.0 2020-10-31
2       ОТДЫХ         ВИНО   657.0 2020-10-31
3    ПРОДУКТЫ  ГОТОВАЯ ЕДА  1030.0 2020-10-31
4      НИКИТА      НАПИТКИ    70.0 2020-10-31
..        ...          ...     ...        ...
361  ПРОДУКТЫ     СЛАДОСТИ    27.0 2020-10-01
362  ПРОДУКТЫ     СЛАДОСТИ   227.0 2020-10-01
363  ПРОДУКТЫ       ПАКЕТЫ     5.9 2020-10-01
364     ОТДЫХ       К ВИНУ   413.9 2020-10-01
365    НИКИТА      НАПИТКИ    99.9 2020-10-01

[361 rows x 4 columns]

In [7]:
for index, row in df.iterrows():
    if index == 0:
        week_days = []
    week_days.append(datetime.isoweekday(row['ДАТА']))
df['ДЕНЬ НЕДЕЛИ'] = week_days
df

    КАТЕГОРИЯ ПОДКАТЕГОРИЯ   СУММА       ДАТА  ДЕНЬ НЕДЕЛИ
0      МАШИНА       БЕНЗИН   664.2 2020-10-31            6
1      НИКИТА     СИГАРЕТЫ   143.0 2020-10-31            6
2       ОТДЫХ         ВИНО   657.0 2020-10-31            6
3    ПРОДУКТЫ  ГОТОВАЯ ЕДА  1030.0 2020-10-31            6
4      НИКИТА      НАПИТКИ    70.0 2020-10-31            6
..        ...          ...     ...        ...          ...
361  ПРОДУКТЫ     СЛАДОСТИ    27.0 2020-10-01            4
362  ПРОДУКТЫ     СЛАДОСТИ   227.0 2020-10-01            4
363  ПРОДУКТЫ       ПАКЕТЫ     5.9 2020-10-01            4
364     ОТДЫХ       К ВИНУ   413.9 2020-10-01            4
365    НИКИТА      НАПИТКИ    99.9 2020-10-01            4

[361 rows x 5 columns]

In [8]:
pvt = df.pivot_table(values='СУММА',
                     index='ДАТА',
                     columns='КАТЕГОРИЯ',
                     aggfunc='sum',
                     fill_value=0,
                     margins=False,
                     dropna=True)
pvt

КАТЕГОРИЯ,АПТЕКА,БАРНИ,ДИМА,ДОМ,МАШИНА,НИКИТА,ОДЕЖДА,ОТДЫХ,ПЛАТЕЖИ,ПРОДУКТЫ,ПРОЧЕЕ,Подарки,САША
ДАТА,,,,,,,,,,,,,
2020-10-01,0.00,0.0,1700,0.0,0.00,368.80,0,413.90,696.47,1069.90,0,0,0
2020-10-02,0.00,1914.7,1900,339.0,0.00,541.70,500,429.00,4540.00,3566.11,212,0,0
2020-10-03,0.00,0.0,0,2900.0,2634.60,140.99,0,2645.00,0.00,626.14,0,0,0
2020-10-04,0.00,0.0,1500,2525.0,0.00,280.00,0,0.00,0.00,916.00,0,0,0
2020-10-05,0.00,0.0,0,69.9,250.00,143.00,0,0.00,0.00,1002.38,0,0,0
2020-10-06,0.00,0.0,200,0.0,0.00,452.00,0,2660.00,0.00,446.12,0,0,0
2020-10-07,0.00,0.0,0,0.0,0.00,215.00,0,0.00,0.00,1038.70,0,0,0
2020-10-08,0.00,0.0,7700,0.0,0.00,555.00,0,1033.00,5075.32,239.00,0,0,0
2020-10-09,0.00,0.0,1800,300.0,0.00,270.90,0,816.05,0.00,5065.17,0,0,0
2020-10-10,0.00,0.0,0,0.0,1085.00,381.00,200,3193.00,0.00,530.00,0,0,100
2020-10-11,0.00,0.0,1500,57.4,0.00,274.90,250,99.00,0.00,799.30,0,0,0
2020-10-12,346.00,0.0,120,0.0,0.00,379.00,0,0.00,0.00,432.84,0,0,0
2020-10-13,508.99,0.0,2600,105.0,0.00,284.99,0,0.00,0.00,401.52,0,0,0
2020-10-14,0.00,0.0,0,0.0,0.00,385.90,0,0.00,0.00,126.00,0,0,0
2020-10-15,0.00,0.0,1700,0.0,0.00,258.00,0,0.00,1249.28,557.00,0,0,0
2020-10-16,0.00,0.0,2977,388.8,0.00,203.00,0,3960.00,0.00,3246.13,57,0,0
2020-10-17,0.00,0.0,0,0.0,29771.58,1843.00,0,1850.00,0.00,175.39,0,0,0
2020-10-18,0.00,0.0,1500,0.0,0.00,203.00,3895,1014.00,500.00,865.00,0,0,0
2020-10-19,0.00,0.0,0,0.0,0.00,326.00,0,0.00,798.00,74.00,0,1000,0
2020-10-20,0.00,0.0,200,0.0,0.00,215.00,1600,134.00,0.00,216.00,0,0,0
2020-10-21,0.00,0.0,0,0.0,0.00,243.00,0,0.00,446.00,0.00,0,0,0
2020-10-22,280.00,184.9,1200,299.8,0.00,242.90,0,0.00,0.00,2272.64,0,0,0
2020-10-23,275.00,0.0,0,1969.0,135.00,285.00,0,0.00,0.00,512.60,0,0,0
2020-10-24,261.00,0.0,0,420.0,821.00,355.99,0,1502.98,0.00,517.80,0,0,0
2020-10-25,0.00,0.0,1200,473.7,0.00,267.80,0,1096.00,0.00,1030.40,0,0,0
2020-10-26,74.00,1183.0,0,0.0,0.00,213.00,2400,954.00,500.00,1191.00,0,0,0
2020-10-27,0.00,0.0,200,0.0,0.00,214.00,0,0.00,0.00,496.00,0,0,0
2020-10-28,0.00,0.0,0,1970.0,0.00,315.00,0,0.00,0.00,452.00,0,1000,0
2020-10-29,0.00,0.0,1400,269.8,0.00,356.00,0,0.00,100.00,2825.60,0,0,0
2020-10-30,0.00,0.0,120,0.0,0.00,325.00,0,0.00,400.00,209.00,0,0,1000
2020-10-31,0.00,0.0,0,0.0,664.20,283.00,0,937.00,0.00,1140.00,0,0,0

In [23]:
pvt = pvt.reset_index()
pvt

ValueError: Cannot remove 1 levels from an index with 1 levels: at least one level must be left.

In [9]:
out_path = r'C:\Users\LGN\Desktop\РАСЧЕТЫ\ДЗЕН\2020-10-31.xlsx'

In [10]:
#ghjkl
df.to_excel(out_path, index=False)

In [11]:
import os
os.startfile(out_path)

In [14]:
pvt.to_excel(out_path)
os.startfile(out_path)